# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
# Ansible
xanmanning.k3s*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
rook-ceph.json
# TODO: review this
/home/fabrice/k8s-home-cluster-mk3/cluster/apps/ingress-nginx
